main-backend/XML-schema/acc_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="acc_type">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="acc_type_id" type="xs:long"/>
                <xs:element name="acc_type_name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
