main-backend/src/main/resources/xsd/mega-travel-soap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
    targetNamespace="http://megatravel.com/booking/ws" xmlns:tns="http://megatravel.com/booking/ws"
    attributeFormDefault="unqualified" jxb:version="2.1" elementFormDefault="qualified">

    <xs:element name="getOneAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="acc_id" type="xs:long"/>
                <xs:element name="user_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getOneAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="getAllAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="addOneAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="addOneAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accDB_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addAccommodationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addAccommodationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accDB_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteAccommodationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteAccommodationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkAgentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkAgentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:annotation><xs:appinfo>
        <jxb:globalBindings>
            <jxb:javaType name="java.util.Date" xmlType="xs:dateTime"
                          parseMethod="com.megatravel.mainbackend.util.MyDatatypeConverter.parseDate"
                          printMethod="com.megatravel.mainbackend.util.MyDatatypeConverter.printDate"/>
        </jxb:globalBindings>
    </xs:appinfo></xs:annotation>

    <xs:element name="accommodation" type="tns:accommodation"/>
    <xs:complexType name="accommodation">
        <xs:sequence>
            <xs:element name="acc_id" type="xs:long"/>
            <xs:element name="acc_name" type="xs:string"/>
            <xs:element name="acc_description" type="xs:string"/>
            <xs:element name="acc_date" type="xs:dateTime"/>
            <xs:element name="acc_capacity">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="acc_pictures" type="xs:base64Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="acc_price_plan" type="tns:acc_price"> </xs:element>
            <xs:element name="acc_unavailable" type="tns:acc_unavailable"> </xs:element>
            <xs:element name="acc_location" type="tns:acc_location"> </xs:element>
            <xs:element name="acc_category" type="tns:category"/>
            <xs:element name="acc_type" type="tns:acc_type"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="acc_services" type="tns:add_service"/>
            <xs:element name="acc_agent" type="tns:user"/>
            <xs:element name="acc_cancel_period">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element default="0" name="acc_avg_rating">
                <xs:simpleType>
                    <xs:restriction base="xs:float">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="acc_type" type="tns:acc_type"/>
    <xs:complexType name="acc_type">
        <xs:sequence>
            <xs:element name="acc_type_id" type="xs:long"/>
            <xs:element name="acc_type_name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="message" type="tns:message"/>
    <xs:complexType name="message">
        <xs:sequence>
            <xs:element name="message_id" type="xs:long"/>
            <xs:element name="message_content" type="xs:string"/>
            <xs:element name="message_reciever" type="tns:user"/>
            <xs:element name="message_sender" type="tns:user"/>
            <xs:element name="message_reservation" type="tns:reservation"/>
            <xs:element name="message_date" type="xs:dateTime"/>
        </xs:sequence>
        <xs:attribute name="status" type="tns:message_status"> </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="message_status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SENT"/>
            <xs:enumeration value="RECIEVED"/>
            <xs:enumeration value="SEEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="review" type="tns:review"/>
    <xs:complexType name="review">
        <xs:sequence>
            <xs:element name="review_id" type="xs:long"/>
            <xs:element name="acc_date" type="xs:dateTime"/>
            <xs:element name="review_grade">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="review_comment" type="xs:string"> </xs:element>
            <xs:element name="review_end_user" type="tns:user"/>
            <xs:element name="review_accommodation" type="tns:accommodation"/>
        </xs:sequence>
        <xs:attribute default="false" name="comment_approved" type="xs:boolean"/>
    </xs:complexType>
    <xs:element name="reservation" type="tns:reservation"/>
    <xs:complexType name="reservation">
        <xs:sequence>
            <xs:element name="r_id" type="xs:long"/>
            <xs:element name="r_accommodation" type="tns:accommodation"/>
            <xs:element name="r_price" type="xs:float"/>
            <xs:element name="r_start_date" type="xs:dateTime"/>
            <xs:element name="r_end_date" type="xs:dateTime"/>
            <xs:element name="r_date" type="xs:dateTime"/>
            <xs:element name="r_people">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="r_end_user" type="tns:user"/>
        </xs:sequence>
        <xs:attribute default="false" name="realized" type="xs:boolean"/>
        <xs:attribute default="false" name="cancelled" type="xs:boolean"/>
    </xs:complexType>
    <xs:element name="category" type="tns:category"/>
    <xs:complexType name="category">
        <xs:sequence>
            <xs:element name="category_id" type="xs:long"/>
            <xs:element name="category_name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="add_service" type="tns:add_service"/>
    <xs:complexType name="add_service">
        <xs:sequence>
            <xs:element name="service_id" type="xs:long"/>
            <xs:element name="service_name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="user" type="tns:user"/>
    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="user_id" type="xs:long"/>
            <xs:element name="user_username" type="xs:string"/>
            <xs:element name="user_first_name" type="xs:string"/>
            <xs:element name="user_last_name" type="xs:string"/>
            <xs:element name="user_password" type="xs:string"/>
            <xs:element name="user_email" type="xs:string"/>
            <xs:element name="user_business_id" type="xs:string"/>
            <xs:element name="user_business_name" type="xs:string"/>
            <xs:element name="user_type" type="tns:user_type"/>
        </xs:sequence>
        <xs:attribute default="false" name="deleted" type="xs:boolean"/>
        <xs:attribute default="true" name="activated" type="xs:boolean"/>
    </xs:complexType>
    <xs:simpleType name="user_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADMIN"/>
            <xs:enumeration value="ENDUSER"/>
            <xs:enumeration value="AGENT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="acc_location">
        <xs:sequence>
            <xs:element name="loc_id" type="xs:long"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="x_coordinate" type="xs:float"/>
            <xs:element name="y_coordinate" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acc_price">
        <xs:sequence>
            <xs:element name="price_id" type="xs:long"/>
            <xs:element name="price_value" type="xs:float"/>
            <xs:element name="price_start_date" type="xs:dateTime"/>
            <xs:element name="price_end_date" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acc_unavailable">
        <xs:sequence>
            <xs:element name="unav_id" type="xs:long"/>
            <xs:element name="unavailable_start" type="xs:dateTime"/>
            <xs:element name="unavailable_end" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
