main-backend/src/main/resources/xsd/mega-travel-soap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
    targetNamespace="http://megatravel.com/booking/ws" xmlns:tns="http://megatravel.com/booking/ws"
    attributeFormDefault="unqualified" jxb:version="2.0" elementFormDefault="qualified">

    <xs:element name="getOneAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="acc_id" type="xs:long"/>
                <xs:element name="user_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getOneAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="getAllAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodationSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllReviewRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllReviewResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="review" type="tns:reviewSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservationSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:userSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addOneAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodationSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="addOneAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accDB_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="editOneAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodationSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="editOneAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accDB_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addAccommodationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodationSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addAccommodationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accDB_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteAccommodationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodationSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteAccommodationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAddServicesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="agent_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAddServicesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="add_servce" type="tns:add_serviceSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCategoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="agent_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCategoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="category" type="tns:categorySoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAccTypeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="agent_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAccTypeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="acc_type" type="tns:acc_typeSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMessageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="agent_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMessageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="tns:messageSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="sendMessageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="tns:messageSoap" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="sendMessageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sent" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sendReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservationSoap" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="sendReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation_id" type="xs:long"/>
                <xs:element name="reservation_price" type="xs:float"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="confirmReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservationSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="confirmReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservationSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservationSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkAgentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkAgentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation" type="tns:accommodationSoap" maxOccurs="unbounded"/>
                <xs:element name="agent" type="tns:userSoap" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- intellij se nesto buni -->
    <xs:annotation><xs:appinfo>
        <jxb:globalBindings>
            <jxb:javaType name="java.util.Date" xmlType="xs:dateTime"
                          parseMethod="com.megatravel.mainbackend.util.MyDatatypeConverter.parseDate"
                          printMethod="com.megatravel.mainbackend.util.MyDatatypeConverter.printDate"/>
        </jxb:globalBindings>
    </xs:appinfo></xs:annotation>

    <xs:element name="accommodationSoap" type="tns:accommodationSoap"/>
    <xs:complexType name="accommodationSoap">
        <xs:sequence>
            <xs:element name="acc_id" type="xs:long"/>
            <xs:element name="acc_name" type="xs:string"/>
            <xs:element name="acc_description" type="xs:string"/>
            <xs:element name="acc_date" type="xs:dateTime"/>
            <xs:element name="acc_capacity">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="acc_pictures" type="xs:base64Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="acc_price_plan" type="tns:acc_priceSoap"> </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="acc_unavailable" type="tns:acc_unavailableSoap"> </xs:element>
            <xs:element name="acc_location" type="tns:acc_locationSoap"> </xs:element>
            <xs:element name="acc_category" type="tns:categorySoap"/>
            <xs:element name="acc_type" type="tns:acc_typeSoap"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="acc_services" type="tns:add_serviceSoap"/>
            <xs:element name="acc_agent" type="tns:userSoap"/>
            <xs:element name="acc_cancel_period">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element default="0" name="acc_avg_rating">
                <xs:simpleType>
                    <xs:restriction base="xs:float">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="acc_typeSoap" type="tns:acc_typeSoap"/>
    <xs:complexType name="acc_typeSoap">
        <xs:sequence>
            <xs:element name="acc_type_id" type="xs:long"/>
            <xs:element name="acc_type_name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="messageSoap" type="tns:messageSoap"/>
    <xs:complexType name="messageSoap">
        <xs:sequence>
            <xs:element name="message_id" type="xs:long"/>
            <xs:element name="message_content" type="xs:string"/>
            <xs:element name="message_reciever" type="tns:userSoap"/>
            <xs:element name="message_sender" type="tns:userSoap"/>
            <xs:element name="message_reservation" type="tns:reservationSoap"/>
            <xs:element name="message_date" type="xs:dateTime"/>
        </xs:sequence>
        <xs:attribute name="status" type="tns:message_statusSoap"> </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="message_statusSoap">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SENT"/>
            <xs:enumeration value="RECIEVED"/>
            <xs:enumeration value="SEEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="reviewSoap" type="tns:reviewSoap"/>
    <xs:complexType name="reviewSoap">
        <xs:sequence>
            <xs:element name="review_id" type="xs:long"/>
            <xs:element name="acc_date" type="xs:dateTime"/>
            <xs:element name="review_grade">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="review_comment" type="xs:string"> </xs:element>
            <xs:element name="review_end_user" type="tns:userSoap"/>
            <xs:element name="review_accommodation" type="tns:accommodationSoap"/>
        </xs:sequence>
        <xs:attribute default="false" name="comment_approved" type="xs:boolean"/>
    </xs:complexType>
    <xs:element name="reservationSoap" type="tns:reservationSoap"/>
    <xs:complexType name="reservationSoap">
        <xs:sequence>
            <xs:element name="r_id" type="xs:long"/>
            <xs:element name="r_accommodation" type="tns:accommodationSoap"/>
            <xs:element name="r_price" type="xs:float"/>
            <xs:element name="r_start_date" type="xs:dateTime"/>
            <xs:element name="r_end_date" type="xs:dateTime"/>
            <xs:element name="r_date" type="xs:dateTime"/>
            <xs:element name="r_people">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="r_end_user" type="tns:userSoap"/>
        </xs:sequence>
        <xs:attribute default="false" name="realized" type="xs:boolean"/>
        <xs:attribute default="false" name="cancelled" type="xs:boolean"/>
    </xs:complexType>
    <xs:element name="categorySoap" type="tns:categorySoap"/>
    <xs:complexType name="categorySoap">
        <xs:sequence>
            <xs:element name="category_id" type="xs:long"/>
            <xs:element name="category_name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="add_serviceSoap" type="tns:add_serviceSoap"/>
    <xs:complexType name="add_serviceSoap">
        <xs:sequence>
            <xs:element name="service_id" type="xs:long"/>
            <xs:element name="service_name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="userSoap" type="tns:userSoap"/>
    <xs:complexType name="userSoap">
        <xs:sequence>
            <xs:element name="user_id" type="xs:long"/>
            <xs:element name="user_username" type="xs:string"/>
            <xs:element name="user_first_name" type="xs:string"/>
            <xs:element name="user_last_name" type="xs:string"/>
            <xs:element name="user_password" type="xs:string"/>
            <xs:element name="user_email" type="xs:string"/>
            <xs:element name="user_business_id" type="xs:string"/>
            <xs:element name="user_business_name" type="xs:string"/>
            <xs:element name="user_type" type="tns:user_typeSoap"/>
        </xs:sequence>
        <xs:attribute default="false" name="deleted" type="xs:boolean"/>
        <xs:attribute default="true" name="activated" type="xs:boolean"/>
    </xs:complexType>
    <xs:simpleType name="user_typeSoap">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADMIN"/>
            <xs:enumeration value="ENDUSER"/>
            <xs:enumeration value="AGENT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="acc_locationSoap">
        <xs:sequence>
            <xs:element name="loc_id" type="xs:long"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="x_coordinate" type="xs:float"/>
            <xs:element name="y_coordinate" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acc_priceSoap">
        <xs:sequence>
            <xs:element name="price_id" type="xs:long"/>
            <xs:element name="price_value" type="xs:float"/>
            <xs:element name="price_start_date" type="xs:dateTime"/>
            <xs:element name="price_end_date" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acc_unavailableSoap">
        <xs:sequence>
            <xs:element name="unav_id" type="xs:long"/>
            <xs:element name="unavailable_start" type="xs:dateTime"/>
            <xs:element name="unavailable_end" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
